<p>Oi do vídeo! {{name}}</p>


<button (click)="submit()">clique</button>

<h1 *ngIf="deveMostrarTitulo"> Meu titulo</h1>
<h1 *ngIf="!deveMostrarTitulo"> Meu titulo</h1>

@if (deveMostrarTitulo) {
    <h1>Meu titulo</h1>
} @else if (name == "Rafael") {
    <h1>Meu titulo para Rafael</h1>
}
@else {
    <h1>Não foi verdadeiro</h1>
}


@for (item of listItems; track item) {
    <p>{{item}}</p>
}

@for (item of listItemsId; track item.id) {

}

<p *ngFor="let item of listItems">{{item}}</p>

<h1>
    {{teste}}
</h1>